*#dm *.dmBody *.u_1606391356 *.photoGalleryThumbs {
 padding: 4px !important;
 }
*#dm *.dmBody *.u_1606391356 *.layout-container {
 padding: 4px !important;
 }
*#dm *.dmBody h3.u_1020192384 {
 float: none !important;
 top: 0px !important;
 left: 0px !important;
 width: 100% !important;
 position: relative !important;
 height: auto !important;
 padding-top: 2px !important;
 padding-left: 0px !important;
 padding-bottom: 2px !important;
 max-width: calc(100% - 0px) !important;
 padding-right: 0px !important;
 min-width: 25px !important;
 text-align: left !important;
 display: block !important;
 }
*#dm *.dmBody div.u_1901379187 {
 padding-top: 80px !important;
 padding-bottom: 80px !important;
 }
*#dm *.dmBody h2.u_1020192384 {
 margin-bottom: 0px !important;
 float: none !important;
 top: 0px !important;
 left: 0 !important;
 width: 100% !important;
 position: relative !important;
 height: auto !important;
 padding-top: 2px !important;
 padding-left: 0px !important;
 padding-bottom: 2px !important;
 margin-right: auto !important;
 margin-left: auto !important;
 max-width: calc(100% - 0px) !important;
 margin-top: 0px !important;
 padding-right: 0px !important;
 min-width: 25px !important;
 text-align: left !important;
 }
*#dm *.dmBody div.u_1088715090 {
 float: none !important;
 top: 0px !important;
 left: 0 !important;
 width: 808px !important;
 position: relative !important;
 height: auto !important;
 padding-top: 2px !important;
 padding-left: 0px !important;
 padding-bottom: 2px !important;
 max-width: calc(100% - 76px) !important;
 padding-right: 0px !important;
 min-width: 25px !important;
 text-align: left !important;
 display: block !important;
 margin-right: auto !important;
 margin-left: auto !important;
 margin-top: 0px !important;
 margin-bottom: 0px !important;
 }
*#dm *.dmBody div.u_1606391356 {
 float: none !important;
 top: 0px !important;
 left: 0 !important;
 width: 100% !important;
 position: relative !important;
 height: auto !important;
 padding-top: 0px !important;
 padding-left: 0px !important;
 padding-bottom: 0px !important;
 max-width: calc(100% - 0px) !important;
 padding-right: 0px !important;
 min-width: 25px !important;
 text-align: center !important;
 margin-right: auto !important;
 margin-left: auto !important;
 margin-top: 0px !important;
 margin-bottom: 10px !important;
 }
*#dm *.dmBody div.u_1612819337 {
 padding-right: 20px !important;
 padding-left: 20px !important;
 padding-top: 0px !important;
 }
*#dm *.dmBody div.u_1065876626 {
 float: none !important;
 top: 0px !important;
 left: 0 !important;
 width: 100% !important;
 position: relative !important;
 height: auto !important;
 padding-top: 174.5px !important;
 padding-left: 40px !important;
 padding-bottom: 174.5px !important;
 margin-right: auto !important;
 margin-left: auto !important;
 max-width: none !important;
 margin-top: 0px !important;
 margin-bottom: 0px !important;
 padding-right: 40px !important;
 min-width: 0 !important;
 text-align: center !important;
 background-attachment: fixed !important;
 background-size: cover !important;
 }
*#dm *.dmBody div.u_1606391356 *.caption-container *.caption-text {
 font-size: 15px !important;
 }
*#dm *.dmBody div.caption-container *.caption-text *.rteBlock {
 font-size: 15px !important;
 }
*#dm *.dmBody div.u_1606391356 *.caption-container *.caption-title {
 font-size: 22px !important;
 }
*#dm *.dmBody div.u_1240949052 {
 float: none !important;
 top: 0px !important;
 left: 0 !important;
 width: 40px !important;
 position: relative !important;
 height: auto !important;
 padding-top: 0px !important;
 padding-left: 0px !important;
 padding-bottom: 0px !important;
 margin-right: auto !important;
 margin-left: auto !important;
 max-width: calc(100% - 460px) !important;
 margin-top: 0px !important;
 margin-bottom: 0px !important;
 padding-right: 0px !important;
 min-width: 25px !important;
 text-align: center !important;
 }
*#dm *.dmBody h4.u_1188338652 {
 float: none !important;
 top: 0px !important;
 left: 0 !important;
 width: 100% !important;
 position: relative !important;
 height: auto !important;
 padding-top: 2px !important;
 padding-left: 0px !important;
 padding-bottom: 2px !important;
 margin-right: auto !important;
 margin-left: auto !important;
 max-width: calc(100% - 0px) !important;
 margin-top: 8px !important;
 margin-bottom: 8px !important;
 padding-right: 0px !important;
 min-width: 25px !important;
 text-align: left !important;
 }
*#dm *.dmBody *.u_1606391356 *.caption-inner {
 padding-left: 8px !important;
 padding-right: 8px !important;
 }
